[submodule "addons/godot_heightmap_plugin"]
	path = lib/godot_heightmap_plugin
	url = https://github.com/Zylann/godot_heightmap_plugin
[submodule "lib/Godot-Navigation-Lite"]
	path = lib/Godot-Navigation-Lite
	url = git@github.com:MilosLukic/Godot-Navigation-Lite.git
